server:
  error:
    include-stacktrace: always

spring:
  datasource:
    driver-class-name: org.postgresql.Driver
    password: ${POSTGRES_PASSWORD}
    url: ${POSTGRES_DB}
    username: ${POSTGRES_USER}

  mail:
    host: smtp.gmail.com
    port: 587
    username: arstanbeekovvv@gmail.com
    password: gnfh xali juew hdna
    properties:
      mail:
        smtp:
          auth: true
          starttls:
            enable: true
      defer-datasource-initialization: true

  sql:
    init:
      data-locations: classpath:dataInit/dataInit.sql
      mode: always

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    open-in-view: false

    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect

app:
  jwt:
    secret: peak-space-java12

cloud:
  aws:
    region: eu-north-1
    access-key: AKIAZI2LDVKOR6V4MDP7
    secret-key: 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
  s3:
    bucketName: peakspacebucket