# Data source
spring:
  datasource:
    driver-class-name: org.postgresql.Driver
    url: ${POSTGRES_DB}
    username: ${POSTGRES_USER}
    password: ${POSTGRES_PASSWORD}

  # Sql data init
  sql:
    init:
      data-locations: classpath:dataInit/dataInit.sql
      mode: never

  # Hibernate/Jpa settings
  jpa:
    hibernate:
      ddl-auto: create
    show-sql: true
    open-in-view: false