# Data source
spring:
  datasource:
    driver-class-name: org.postgresql.Driver
    password: 1234
    url: jdbc:postgresql://localhost:5432/peakspace
    username: postgres

  # Sql data init
  sql:
    init:
      data-locations: classpath:dataInit/dataInit.sql
      mode: never

  # Hibernate/Jpa settings
  jpa:
    hibernate:
      ddl-auto: create
    show-sql: true
    open-in-view: false

    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect