# Data source
spring:
  datasource:
    driver-class-name: org.postgresql.Driver
    password: ${POSTGRES_PASSWORD}
    url: ${POSTGRES_DB}
    username: ${POSTGRES_USER}

  # Sql data init
  sql:
    init:
      data-locations: classpath:dataInit/dataInit.sql
      mode: never

  # Hibernate/Jpa settings
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    open-in-view: false

#    properties:
#      hibernate:dialect: org.hibernate.dialect.PostgreSQLDialect